<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental Price Comparison</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
</head>
<body>
    <div id="app">

        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 510px;">
                    <video class="img-fluid w-100" autoplay muted loop>
                        <source src="img/video-reel.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 720px;">
                            <h4 class="text-light text-uppercase font-weight-medium mb-3">Get The Best Offers!</h4>
                            <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{sitename}}</h3>
                            <div class="container">
                                <form class="row">
                                    <div class="col-sm-3 text-left">
                                        <label for="pick-up-date" class="text-left">Pick-Up Date</label>
                                        <input type="date" id="pick-up-date" name="rent-start-date" class="header-search" value="2018-12-04" min="2022-12-01" max="2023-12-30">
                                    </div>
                                    <div class="col-sm-3 text-left">
                                        <label for="pick-up-date">Drop-Off Date</label>
                                        <input type="date" id="drop-off-date" name="rent-end-date" class="header-search" value="2022-12-15" min="2022-12-01" max="2023-12-30">
                                    </div>
                                    <div class="col-sm-2 text-left">
                                        <label for="car-brand">Brand</label>
                                        <select class="form-select header-search" aria-label="select car brand" id="car-brand">
                                          <option selected></option>
                                          <option value="1">One</option>
                                          <option value="2">Two</option>
                                          <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 text-left">
                                      <label for="car-model">Model</label>
                                      <select class="form-select header-search" aria-label="select car model" id="car-model">
                                        <option selected></option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                    </div>
                                    <div class="col-sm-2 text-left">
                                        <label for="car-model" style="color: transparent;">.</label>
                                        <a href="" class="btn btn-light py-2 px-3">Search</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-3 col-md-12">
                    <div class="mb-4 pb-4">
                        <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                            <h6 class="m-0 text-white">Car Brands</h6>
                        </a>
                        <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                            <div class="navbar-nav w-100 overflow-hidden">
                                <a href="#view-results" v-on:click="showBrandCars(brand.name)" v-bind:class="selectedBrandName === brand.name ? 'nav-item nav-link active' : 'nav-item nav-link'" v-for="brand in carBrands">
                                    {{ brand.name }}
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="col-lg-9 col-md-12">
                    <div class="row pb-3">
                        <div class="col-12 pb-1">
                            <form class="w-100">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by car brand or model">
                                    <button class="input-group-append bg-transparent border search-btn">
                                        <span class="input-group-text bg-transparent text-primary border-0">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                            <div class="d-flex align-items-center justify-content-between mb-4 mt-4" id="view-results">
                                <div class="container-fluid bg-primary">
                                    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height:60px">
                                        <h6 class="m-0 text-white">Results for {{ viewingItem }} | Page: {{ currentPageNumber }} of {{ numberOfPages }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-lg-4 col-md-6 col-sm-12 pb-1" v-for="car in carsData">
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100 image-crop" v-bind:src="car.image_url">
                                </div>
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <h6 class="text-truncate mb-3">{{ car.car_brand_name }} {{ car.car_model_name }}</h6>
                                    <div class="d-flex justify-content-center">
                                        <h6>AED {{ car.rent_per_day }} per day</h6>
                                    </div>
                                    <span>{{ car.rental_service }}</span>
                                </div>
                                <div class="card-footer bg-light border text-center">
                                    <a v-bind:href="car.rent_url" class="btn btn-sm text-dark p-0 w-100 h-100" target="_blank">
                                            <i class="fas fa-car text-primary mr-1"></i>
                                            Rent
                                    </a>
                                </div>
                            </div>   
                        </div>

                        <div class="col-12 pb-1">
                            <nav aria-label="Page navigation">
                                <paginate
                                    :page-count="numberOfPages"
                                    container-class="pagination justify-content-center mb-3"
                                    page-class="page-item"
                                    page-link-class="page-link"
                                    prev-text="&laquo;"
                                    prev-class="page-item"
                                    prev-link-class="page-link"
                                    next-text="&raquo;"
                                    next-class="page-item"
                                    next-link-class="page-link"
                                    :click-handler="handlePagination">
                                </paginate>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-secondary text-dark mt-5 pt-5 pb-5">
            <p class="mb-md-0 text-center text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">Kevin Bazira</a>. All Rights Reserved.
            </p>
        </div>
    </div> 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script type="text/javascript">
        Vue.component('paginate', VuejsPaginate);
    </script>
    <script type="text/javascript">
        const carRentalPriceComparison = new Vue({
            el: "#app",
            data: {
                sitename: "Car Rental Price Comparison",
                carsData: [],
                numberOfPages: 0,
                currentPageNumber: 0,
                carsToDisplayPerPage: 12,
                viewingItem: "",
                carBrands: [],
                selectedBrandName: ""
            },
            methods: {
                loadCarsData(offset){
                    // Get cars data from the web service using Axios.
                    const localApp = this;
                    let tmpViewingItem = "All Cars";
                    let brandNameQueryString = "";
                    if(!!this.selectedBrandName){
                        // If selectedBrandName exists, set brandNameQueryString and tmpViewingItem
                        brandNameQueryString = "&car-brand=" + this.selectedBrandName;
                        tmpViewingItem = "Car Brand: " + this.selectedBrandName;
                    }
                    axios.get('/cars-data?num-cars=12&offset=' + offset + brandNameQueryString) // Send GET request to cars-data path with query strings
                        .then((response)=>{// Request successful
                            // Set both carsData, numberOfPages, and viewingItem based on data returned in respone.
                            localApp.setCarsData(response.data.carsData);
                            localApp.setNumberOfPages(response.data.totalNumCars);
                            localApp.setViewingItem(tmpViewingItem);
                            console.log("totalNumCars: " + JSON.stringify(response.data.totalNumCars));
                            console.log("carsData: " + JSON.stringify(response.data.carsData));
                        })
                        .catch((error)=>{
                            // Handle error
                            console.log(error);
                        });
                },
                setCarsData(carsData){
                    // Set carsData that will be used to display car rental details.
                    this.carsData = carsData;
                },
                setNumberOfPages(totalCars){
                    // Set number of pages used for pagination.
                    this.numberOfPages = Math.ceil(totalCars / this.carsToDisplayPerPage);
                },
                setCurrentPageNumber(pageNum){
                    // Set the current page number.
                    this.currentPageNumber = pageNum;
                },
                setViewingItem(viewingItem){
                    // Set the item's results being viewed.
                    this.viewingItem = viewingItem;
                    
                },
                handlePagination(pageNum){
                    // Fetch new set of data based on the page number selected.
                    offset = (pageNum - 1) * this.carsToDisplayPerPage;
                    this.loadCarsData(offset);
                    // set current page number
                    this.setCurrentPageNumber(pageNum);
                },
                loadCarBrands(){
                    // Get car brands data from the web service using Axios.
                    const localApp = this;
                    axios.get('/car-brands') // Send GET request to car-brands path
                        .then((response)=>{// Request successful
                            // Set carBrands based on data returned in respone.
                            localApp.setCarBrands(response.data);
                            console.log("carBrands: " + JSON.stringify(response.data));
                        })
                        .catch((error)=>{
                            // Handle error
                            console.log(error);
                        });
                },
                setCarBrands(carBrands){
                    this.carBrands = carBrands;
                },
                setSelectedBrandName(selectedBrandName){
                    this.selectedBrandName = selectedBrandName;
                },
                showBrandCars(brandName){
                    // Set selected brand name
                    this.setSelectedBrandName(brandName);
                    // Load cars data
                    this.loadCarsData(0);
                    console.log(brandName);
                }
            },
            computed: {
                
            },
            created() { // Vue lifecycle hook, called when data is loaded.
                // Load cars data from web service with offset=0
                this.loadCarsData(0);
                this.loadCarBrands();

                //Refresh cars data every 5 seconds. Completes the VM in MVVM :)
                // setInterval(this.loadCarsData, 5000);
            }
        });
    </script>
</body>
</html>